/* Estilo geral do corpo da página */
body{
    background: rgb(47, 42, 42); 
    font: normal 15pt arial; 
}

/* Estilo do cabeçalho */
header{
    color: aliceblue; 
    text-align: center; 
}

/* Estilo do título principal (h1) */
h1{
    text-shadow: 2px 2px black; /* Adiciona uma sombra preta ao texto para destacar */
}

section{
    background: white; 
    padding: 20px 50px; /* Adiciona espaçamento interno (padding) em cima/baixo e nas laterais */
    width: 200px; /* Define a largura fixa da seção */
    border-radius: 10px; /* Adiciona cantos arredondados */
    margin: auto; /* Centraliza a seção na página */
    text-align: center; /* Centraliza o texto dentro da seção */
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.58); /* Adiciona uma sombra suave ao redor da seção */
}

/* Estilo do rodapé */
footer{
    color: aliceblue; 
    font-style: italic; 
    text-align: center; 
}

/* Estilo da imagem */
#imagem{
    width: 200px; /* Define a largura da imagem */
    height: 200px; /* Define a altura da imagem */
}

/* Estilo do botão voltar*/
#botao-caixa {
    margin-top: 50px; /*Adiciona um espaço acima do elemento*/
    text-align: center;
}

#botao{
    display: inline-block;/* O elemento é exibido como um bloco em linha o que permite aplicar largura, altura, margens e paddings, mantendo o alinhamento com outros elementos*/
    background-color: #fbfdff;
    color: blue;
    padding: 8px 5px;
    border-radius: 5px;
    text-decoration: none; /* Remove o sublinhado do botão "Voltar"*/
    font-weight: bold; /*O texto "Voltar" do botão é exibido em negrito*/
}
